*{
    font-family: "Manrope", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
/* -----------Header Section------------ */
#header{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar{
    background-color: white;
}
#header ul li a{
    color: black;
    font-weight: bold;
    font-size: 18px;
    margin-top: 2px;
}
#header ul li a:hover{
    color: rgb(14, 120, 168);
    transition: all 0.4s;
}
.head-bt button{
  padding: 10px 10px;
  border: 3px solid rgb(228, 206, 111);
  background: none;
  color: rgb(14, 120, 168);
  font-weight: bold;
  border-radius: 5px;
}
.head-bt button:hover{
  background-color: rgb(14, 120, 168);
  color: white;
  transition: all .4s;
}

/* -----------Banner Section------------ */
.banner{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.8), rgba(4,9,30,0.8)), url(banner-1.png);
    background-size: cover;
    background-position: center;
    position: relative;
}
@keyframes banner{
    0%{
        left: -50%;
    }
    100%{
        left: 0%;
    }
}
.banner-text{
    animation-name: banner;
    animation-duration: 1.7s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    position: relative;
    padding-top: 270px;
    padding-bottom: 200px;
    color: white;
    z-index: 2;
}
.banner-text h1{
    font-size: 48px;
    font-weight: 1000;
    padding: 10px 0px;
    line-height: 1.3em;
}
.banner-text p{
    font-size: 19px;
    padding-bottom: 5px;
}
.banner-text button{
    background: none;
    padding: 10px 25px;
    background-color: rgb(228, 206, 111);
    border: none;
    font-weight: 900;
    font-size: 21px;
    border-radius: 2px;
}
.banner-text button:hover{
    color: rgb(14, 103, 144);
    transition: all 0.4s;
}

/* -----------Banner Box Section------------ */
.banner-box{
    box-shadow: grey 0px 0px 8px 2px;
    border-radius: 10px;
    margin-top: -70px;
    padding: 34px 0px;
    background: white;
    position: relative;
    animation-name: box;
    animation-duration: 1.7s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    
}
.banner-box .fa{
    font-size: 70px;
    color: rgb(14, 120, 168);
}
.banner-box p{
    font-size: 20px;
    font-weight: 1000;
    margin-top: 10px;
}
@keyframes box{
    0%{
        transform: translateY(80%);
    }
    100%{
        top: 0%;
    }
}
@media screen and (max-width: 1000px){
    .yes{
        margin-top: 100px;
    }
}
@media screen and (max-width: 700px){
    .banner-text{
        text-align: center;
    }
    .banner-text h1{
        font-size: 30px;
    }
    .banner-text p{
        font-size: 16px;
    }
    .banner-text button{
        font-size: 16px;
    }

}

/* -----------Service Heading------------ */
#services{
  margin: 87px 0px;
}
.ser-head p{
  font-weight: bold;
  font-size: 20px;
  color: rgb(14, 120, 168);
}
.ser-head h2{
    font-size: 38px;
    font-weight: 1000;
}
.ser-bt{
    justify-content: flex-end;
    display: flex;
}
.ser-bt button{
    padding: 10px 25px;
    border: 3px solid rgb(228, 206, 111);
    background: none;
    font-size: 20px;
    font-weight: bold;
    color: rgb(14, 120, 168);
    margin-top: 23px;
    border-radius: 2px;
}
.ser-bt button:hover{
    background-color: rgb(14, 120, 168);
    color: white;
    transition: all .4s;
  }
@media screen and (max-width: 800px) {
    .ser-bt{
        justify-content: center;
        display: flex;
    }
}

/* -----------Service Blog------------ */
.card h3{
    font-size: 23px;
    font-weight: 900;
    margin-top: 22px;
}
.card{
    margin-top: 40px;
}
.card-1{
    animation-name: card-1;
    animation-duration: 1.7s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    position: relative;
}
.card-2{
    animation-name: card-2;
    animation-duration: 1.7s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    position: relative;
}
.card-3{
    animation-name: card-3;
    animation-duration: 1.7s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    position: relative;
}
.card p{
    font-size: 17px;
    padding: 6px 7px;
}
.card-bt{
    padding-bottom: 25px;
}
.card button{
    padding: 10px 34px;
    border-radius: 4px;
    background-color: rgb(228, 206, 111);
    font-weight: bold;
    font-size: 18px;
    border: none;
}
.card button:hover{
    color: rgb(14, 120, 168);
    background: none;
    border: 3px solid rgb(228, 206, 111);
}
@keyframes card-1{
    0%{
        left: -90%;
    }
    100%{
        left: 0%;
    }
}
@keyframes card-3{
    0%{
        right: -90%;
    }
    100%{
        right: 0%;
    }
}
@keyframes card-2{
    0%{
        transform: translateY(90%);
    }
    100%{
        top: 0%;
    }
}

/* -----------Leadership Section------------ */

.leadership{
    /* min-height: 100vh;
    width: 100%; */
    background-image: linear-gradient(rgba(4,9,30,0.8), rgba(4,9,30,0.9)), url(banner-1.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    /* background: #041c3b; */
    padding: 90px 0px;
}
.point{
    border-bottom: 2px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-radius: 5px;
}
.point1{
    animation-name: point1;
    animation-duration: 1.7s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    position: relative;
}
.point2{
    animation-name: point2;
    animation-duration: 1.7s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    position: relative;
}
.point3{
    animation-name: point1;
    animation-duration: 1.7s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    position: relative;
}
.point4{
    animation-name: point2;
    animation-duration: 1.7s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    position: relative;
}
@keyframes point1{
    0%{
        transform: translateY(100%);
    }
    100%{
        top: 0%;
    }
}
@keyframes point2{
    0%{
        transform: translateY(-100%);
    }
    100%{
        bottom: 0%;
    }
}
.point:hover{
    border-color: rgb(255, 102, 0);
    transition: all .4s;
}
.leadership .fa{
    color:  rgb(228, 206, 111);
    font-size: 80px;
    padding: 20px 0px;
}
.leadership h1{
    color: white;
    font-size: 52px;
    font-weight: 1000;
}
.leadership p{
    font-size: 20px;
    font-weight: 1000;
    color: rgb(93, 178, 218);
    padding: 10px 0px;
}

/* -----------Get in Touch Section------------ */
.touch{
    padding: 70px 0px;
}
.touch h5{
    font-weight: bold;
    font-size: 18px;
    color: rgb(14, 120, 168);
  }
  .touch h2{
      font-size: 31px;
      font-weight: 1000;
  }
  .touch{
      justify-content: flex-end;
      display: flex;
  }
  .touch p{
      font-size: 17px;
  }
  .touch ul li{
      font-size: 17px;
  }
  .touch button{
      padding: 10px 25px;
      border: 3px solid rgb(228, 206, 111);
      background: none;
      font-size: 20px;
      font-weight: bold;
      color: rgb(14, 120, 168);
      margin-top: 23px;
      border-radius: 2px;
  }
  .touch button:hover{
      background-color: rgb(14, 120, 168);
      color: white;
      transition: all .4s;
    }
  .touch .fa{
    color: rgb(14, 120, 168);
    font-size: 18px;
  }
  @media screen and (max-width: 850px) {
      .touch-bt{
        text-align: center;
      }
  }

  /* -----------Quote Form Section------------ */
.quote{
   background: rgb(14, 120, 168);
}
.quote-form{
    padding: 15px 0px;
}
.contact-form{
    padding: 5px 15px;
    margin-top: 20px;
}  
.contact-form button{
    font-weight: bold;
    font-size: 20px;
}
.form-control{
    border-radius: 0 !important;
    border: none !important;
}
.quote button{
    padding: 10px 25px;
    border: 3px solid rgb(228, 206, 111);
    background: none;
    font-size: 20px;
    font-weight: bold;
    color: rgb(228, 206, 111);
    margin-top: 23px;
    border-radius: 2px;
}
.quote button:hover{
    background-color: rgb(228, 206, 111);
    color: rgb(14, 120, 168);
    transition: all .4s;
  }
.quote-form h2{
    font-size: 31px;
    font-weight: 1000;
    color: white;
    margin-left: 20px;
    padding-top: 15px;
}
.quote-img img{
    width: 100%;
    height: 62vh;
}
@media screen and (min-width: 900px){
    .quote-img{
        width: 619px;
    }
}
/* -----------Client Section------------ */
.client{
    position: relative;
  
}
/* .says{
    padding-bottom: 70px;
    padding-top: 30px;
    
} */
.media-body{
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
  color: white;
}
.media-body h3{
    font-size: 25px;
    font-weight: 900;
    padding: 3px 0px;
}
.media-body .fa{
    font-size: 25px;
    color: yellow;
    padding: 0px 2px;
}
.media img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.says{
    margin-top: 50px;
    padding: 30px 0px;
    background: rgb(69,65,150);
    background: linear-gradient(90deg, rgba(69,65,150,1) 6%, rgba(159,75,231,1) 100%);
    border-radius: 10px;
    
}
.says1{
    animation-name: says1;
    animation-duration: 1.9s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    position: relative;
}
.says2{
    animation-name: says2;
    animation-duration: 1.9s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    position: relative;
}
@keyframes says1{
    0%{
        top: 100%;
        transform: translateY(50%);
    }
    100%{
        top: 0%;
    }
}
@keyframes says2{
    0%{
        right: 100%;
        transform: translateX(-90%);
    }
    100%{
        right: 0%;
    }
}

.media{
    padding: 5px 30px;
}
.says:hover{
  box-shadow:  rgb(4 9 30 / 70%) 0px 0px 13px 1px;
}

/* -----------Footer Part------------ */
.part{
    background-image: linear-gradient(rgba(4,9,30,0.6), rgba(4,9,30,0.6)), url(banner-1.png);
    background-size: cover;
    background-position: center;
    padding: 60px 0px; 
    margin-top: -300px;
}
.part{
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    
}
.part p{
  font-size: 19px;
  color: rgb(84, 182, 228);
  font-weight: bold;
}
.part h1{
  font-weight: 1000;
  font-size: 46px;
  color: white;
}
.part-bt button{
    padding: 10px 25px;
    border: 3px solid rgb(228, 206, 111);
    background: none;
    font-size: 20px;
    font-weight: bold;
    color: rgb(228, 206, 111);
    margin-top: 23px;
    border-radius: 2px;
}
.part-bt button:hover{
    background-color: rgb(228, 206, 111);
    color: rgb(14, 120, 168);
    transition: all .4s;
  }
.footer-part{
    margin-top: 50px;
    position: relative;
}

/* -----------Footer Section------------ */
.footer-part{
    background: #00224D;
    color: white;
    margin-top: 330px;
    padding-top: 150px;
    padding-bottom: 90px;
}
.about{
    margin-top: 70px;
}
.about p{
    padding: 17px 0px;
    font-size: 17px;
}
.about .fa{
    font-size: 24px;
    margin: -3px 8px;
    color: rgb(228, 206, 111);
    padding: 10px 10px;
    cursor: pointer;
}
.about .fa:hover{
    border: 2px solid rgb(41, 149, 199);
    transition: all 0.4s;
    border-radius: 4px;
    transform: scale(105%);
}
.quick-links h3{
    font-size: 26px;
    font-weight: bold;
    color: rgb(228, 206, 111);
}
.quick-links {
    margin-top: 72px;
}
.payment ul li, .quick-links ul li{
    padding: 8px 0px;
    font-size: 19px;
    font-weight: 500;
    cursor: pointer;
}
.payment ul li:hover, .quick-links ul li:hover{
    color: rgb(228, 206, 111);
    transition: all .4s;
    text-decoration: underline;
    transform: translateX(5%);
}
.address, .payment{
    margin-top: 70px;
}
.address h3, .payment h3{
    font-size: 26px;
    font-weight: bold;
    color: rgb(228, 206, 111);
}
.address p{
    padding: 8px 0px;
    font-size: 19px;
    font-weight: 500;
}
.address .fa{
    font-size: 20px;
    color: rgb(75, 149, 184);
    margin-right: 5px;
}

/* -----------Copyright Section------------ */
.copyright{
    margin-bottom: -50px;
}
.copyright p{
  font-weight: bold;
  font-size: 19px;
  line-height: 2em;
  letter-spacing: 0.1em;
}
.copyright .fa{
    color: rgb(225 87 87);;
}